<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Hidroatom</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
        <icon src="icon.png" />
        <splash src="splash/mdpi.png" qualifier="port-mdpi" density="mdpi" />
        <splash src="splash/hdpi.png" qualifier="port-hdpi" density="hdpi" />
        <splash src="splash/xhdpi.png" qualifier="port-xhdpi" density="xhdpi" />
        <splash src="splash/xxhdpi.png" qualifier="port-xxhdpi" density="xxhdpi" />
        <splash src="splash/xxxhdpi.png" qualifier="port-xxxhdpi" density="xxxhdpi" />
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="~2.2.3" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.1.0" />
</widget>