.mainDiv {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-content: center;
    height: -webkit-fill-available;
}

.mdl-textfield__input {
    padding: 10px 0;
}

h3,
h5 {
    background: -webkit-linear-gradient(135deg, #FFAA85, #B3315F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mdl-textfield__label:after {
    background-image: linear-gradient( 135deg, #FFAA85 10%, #B3315F 100%);
}

.upText {
    color: #FFAA85;
}

.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.is-upgraded {
    text-align-last: center;
}

button.mdl-button.mdl-js-button.mdl-js-ripple-effect {
    background: -webkit-linear-gradient(135deg, #FFAA85, #B3315F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}