
/* Imagens dos Elementos */ 



.demo-card-image.mdl-card {
    width: 100%;
    height: 280px;
    background: url('../img/hidrogenio.jpg') center / cover;
    background-size: cover;
    background-attachment: local;
}

#litioImg {
    width: 100%;
    height: 280px;
    background: url('../img/litio.jpg') center / cover;
    background-size: cover;
    background-attachment: local;
}

#sodioImg {
    width: 100%;
    height: 280px;
    background: url('../img/sodio.jpg') center / cover;
    background-size: cover;
    background-attachment: local;
}

#potassioImg {
    width: 100%;
    height: 280px;
    background: url('../img/Potassium.JPG') center / cover;
    background-size: cover;
    background-attachment: local;
}

/* Família 2A */ 

#berilioImg {
    width: 100%;
    height: 280px;
    background: url('../img/berilio.JPG') center / cover;
    background-size: cover;
    background-attachment: local;
}

#magnesioImg {
    width: 100%;
    height: 280px;
    background: url('../img/Magnesio.JPG') center / cover;
    background-size: cover;
    background-attachment: local;
}

#calcioImg {
    width: 100%;
    height: 280px;
    background: url('../img/Calcio.JPG') center / cover;
    background-size: cover;
    background-attachment: local;
}

#estroncioImg {
    width: 100%;
    height: 280px;
    background: url('../img/Estroncio.JPG') center / cover;
    background-size: cover;
    background-attachment: local;
}


#barioImg {
    width: 100%;
    height: 280px;
    background: url('../img/Bario.JPG') center / cover;
    background-size: cover;
    background-attachment: local;
}

#radioImg {
    width: 100%;
    height: 280px;
    background: url('../img/Radio.JPG') center / cover;
    background-size: cover;
    background-attachment: local;
}


/* Espectros */


/* Família 1A */

#spectro {
    background: url('../img/Hydrogen_Spectra.jpg') center / cover;
    border-radius: 0px 0px 10px 10px;
}

#spectro_litio {
    background: url('../img/litio_spectra.png') center / cover;
    border-radius: 0px 0px 10px 10px;
}


#spectro_sodio {
    background: url('../img/Sodium_Spectra.jpg') center / cover;
    border-radius: 0px 0px 10px 10px;
}

#spectro_potassio {
    background: url('../img/Potassium_Spectrum.jpg') center / cover;
    border-radius: 0px 0px 10px 10px;
}


/* Família 2A */ 


#spectro_berilio {
    background: url('../img/Berilio_Spec.gif') center / cover;
    border-radius: 0px 0px 10px 10px;
}

#spectro_magnesio {
    background: url('../img/Magnesio_Spec.gif') center / cover;
    border-radius: 0px 0px 10px 10px;
}

#spectro_calcio {
    background: url('../img/Calcio_Spec.png') center / cover;
    border-radius: 0px 0px 10px 10px;
}

#spectro_estroncio {
    background: url('../img/Estroncio_Spec.gif') center / cover;
    border-radius: 0px 0px 10px 10px;
}

#spectro_bario {
    background: url('../img/Bario_Spec.gif') center / cover;
    border-radius: 0px 0px 10px 10px;
}

#spectro_radio {
    background: url('../img/Radio_Spec.gif') center / cover;
    border-radius: 0px 0px 10px 10px;
}


/*   ---------------------------------------  */

.demo-card-image>.mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.mdl-card {
    border-radius: 0px;
}


#card2 {
    border-radius: 6px;
    width: calc(100% - 12px);
    height: auto;
    margin: 6px;
    margin-top: 10px;
    text-align: -webkit-center;
}

.mdl-card__title {
    align-self: center;
}

.section1 {
    width: 50%;
}

h2.mdl-card__title-text {
    font-size: xx-large;
}

body {
    background-color: #f7f7f7;
}

.mdl-layout__header-row {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}

.mdl-layout__header .mdl-layout__drawer-button {
    background: none;
}

.mdl-card__title.mdl-card--expand {
    background-size: cover;
    background-attachment: local;
}