/* Família 2A */ 

#berilioImg {
    width: 100%;
    height: 280px;
    background: url('../img/elementos/berilio.JPG') center / cover;
    background-size: cover;
    background-attachment: local;
}

#magnesioImg {
    width: 100%;
    height: 280px;
    background: url('../img/elementos/Magnesio.JPG') center / cover;
    background-size: cover;
    background-attachment: local;
}

#calcioImg {
    width: 100%;
    height: 280px;
    background: url('../img/elementos/Calcio.JPG') center / cover;
    background-size: cover;
    background-attachment: local;
}

#estroncioImg {
    width: 100%;
    height: 280px;
    background: url('../img/elementos/Estroncio.JPG') center / cover;
    background-size: cover;
    background-attachment: local;
}


#barioImg {
    width: 100%;
    height: 280px;
    background: url('../img/elementos/Bario.JPG') center / cover;
    background-size: cover;
    background-attachment: local;
}

#radioImg {
    width: 100%;
    height: 280px;
    background: url('../img/elementos/Radio.JPG') center / cover;
    background-size: cover;
    background-attachment: local;
}

/* Espectros */

#spectro_berilio {
    background: url('../img/elementos/spectrum/Berilio_Spec.gif') center / cover;
    border-radius: 0px 0px 10px 10px;
}

#spectro_magnesio {
    background: url('../img/elementos/spectrum/Magnesio_Spec.gif') center / cover;
    border-radius: 0px 0px 10px 10px;
}

#spectro_calcio {
    background: url('../img/elementos/spectrum/Calcio_Spec.png') center / cover;
    border-radius: 0px 0px 10px 10px;
}

#spectro_estroncio {
    background: url('../img/elementos/spectrum/Estroncio_Spec.gif') center / cover;
    border-radius: 0px 0px 10px 10px;
}

#spectro_bario {
    background: url('../img/elementos/spectrum/Bario_Spec.gif') center / cover;
    border-radius: 0px 0px 10px 10px;
}

#spectro_radio {
    background: url('../img/elementos/spectrum/Radio_Spec.gif') center / cover;
    border-radius: 0px 0px 10px 10px;
}
