.image{
    width: 70%;
}
.One{
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-content: center;
    height: -webkit-fill-available;
}