.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../img/hidrogenio.jpg') center / cover;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

.demo-card-wide.mdl-card {
    width: -webkit-fill-available;
    margin: 10px;
}

#elemento2 {
    background: url('../img/litio.jpg') center / cover;
}

#elemento3 {
    background: url('../img/sodio.jpg') center / cover;
}

#elemento4 {
    background: url('../img/Potassium.JPG') center / cover;
}

#elemento5 {
    background: url('../img/rubidio.JPG') center / cover;
}

#elemento6 {
    background: url('../img/Cesio.jpg') center / cover;
}

#elemento7 {
    background: url('../img/francio.jpg') center / cover;
}


.mdl-layout__header .mdl-layout__drawer-button {
    background: none;
}

.mdl-layout__header-row{
    background-color: #bc546a;
}
.mdl-layout__tab-bar{
    background-color: #bc546a;
}

.mdl-button.mdl-button--colored {
    background-color: #bc546a;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mdl-layout__tab-bar-button.mdl-layout__tab-bar-left-button{
    background-color: #bc546a;
}

.mdl-layout__tab-bar-button.mdl-layout__tab-bar-right-button.is-active{
    background-color: #bc546a;
}

.mdl-layout__tab-bar-button.mdl-layout__tab-bar-right-button{
    background-color: #bc546a;
}